Checks: "*,\
        -llvm-header-guard,\
        -llvm-namespace-comment,\
        -modernize-use-trailing-return-type,\
        -modernize-avoid-c-arrays,\
        -google-build-using-namespace,\
        -google-runtime-references,\
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
        -cppcoreguidelines-pro-bounds-constant-array-index,\
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
        -cppcoreguidelines-pro-type-reinterpret-cast,\
        -cppcoreguidelines-pro-type-vararg,\
        -cppcoreguidelines-avoid-magic-numbers,\
        -cppcoreguidelines-avoid-c-arrays,\
        -misc-non-private-member-variables-in-classes,\
        -cppcoreguidelines-owning-memory,\
        -readability-magic-numbers,\
        -readability-convert-member-functions-to-static,\
        -hicpp-no-assembler,\
        -hicpp-signed-bitwise,\
        -hicpp-exception-baseclass,\
        -hicpp-vararg,\
        -hicpp-avoid-c-arrays,\
        -hicpp-no-array-decay,\
        -fuchsia-statically-constructed-objects,\
        -cert-dcl50-cpp,\
        -cert-err58-cpp,\
        -misc-non-private-member-variables-in-classes"
