BasedOnStyle: Google

IndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 120

IndentPPDirectives: None
AlwaysBreakTemplateDeclarations: MultiLine

SortIncludes: false

AllowShortFunctionsOnASingleLine: Empty