BasedOnStyle: Google

IndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 120

IndentPPDirectives: None
AlwaysBreakTemplateDeclarations: Yes

SortIncludes: false

AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false
DerivePointerAlignment: false
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: false
